<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calorie counter</title>
  </head>
  <body ng-app="myApp">
    <div class="meals" ng-controller="myController" >
      <table>
        <tr>
          <td>Name</td>
          <td>Calories</td>
          <td>Date</td>
        </tr>
        <tr ng-repeat="consumption in consumptions">
          <td>{{consumption.cons_name}}</td>
          <td>{{consumption.cons_calories}}</td>
          <td>{{consumption.date}}</td>
          <td ng-controller="myDelete"><button id={{consumption.cons_id}} ng-click="delItem(consumption.cons_id)">Delete</button></td>
        </tr>
      </table>
    </div>
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/main_consumption.js"></script>
    <script type="text/javascript" src="js/consumption_controller.js"></script>
    <script type="text/javascript" src="js/consumption_delete.js"></script>
  </body>
</html>
